<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Roster</h4>
    <button type="button" class="close" aria-label="Close" [mat-dialog-close]>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="updateRoster(form)" #form="ngForm">
        <div class="container">
            <input matInput type="text" [(ngModel)]="formData.RosterID" class="form-control" hidden name="RosterID">
            <mat-form-field>
                <input matInput type="text" class="form-control" name="RosterName" [(ngModel)]="formData.RosterName" placeholder="Enter Name">
            </mat-form-field>
          
            <mat-form-field>
                <textarea matInput type="text" class="form-control" name="RosterDescription" [(ngModel)]="formData.RosterDescription" placeholder="Enter Description"></textarea>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Select" (change)="onColorSelected($event.target.value)" name="ColorName" [(ngModel)]="formData.ColorName">
                <mat-option *ngFor='let color of colorService.colorList' [value]="color.ColorName">{{color.ColorID}} - {{color.ColorName}}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div style="text-align: center" class="row">
        <button mat-raised-button color="primary" type="submit" [disabled]="formData.invalid">Save</button> | 
        <button mat-raised-button color="warn" [mat-dialog-close]>Close</button>
        </div>
    </form>
  </div>